@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background-color:#1BA1E2">
    <div>
        <h1>Index</h1>
 
        @Html.ActionLink("Index", "Index") 
        &nbsp; &nbsp;| &nbsp; &nbsp; 
        @Html.ActionLink("AndEvenMoreLonger", "AndEvenMoreLonger")
    </div>
</body>
</html>
